/* Popup style */
.p-popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    /* margin-top: 5mm; */
    }
     
    .p-box {
      position: relative;
      width: 10%;
      margin: 0 auto;
      height: 25%;
      max-height: 70vh;
      margin-top: calc(100vh - 85vh - 6px);
      padding: 20px;
      background-color: rgb(235, 231, 240);
      background-repeat: repeat;
      background-size: contain;
      background-position-x: center;
      align-self: flex-end;
      margin-left: 350mm;
      border-radius: 1mm;
      /* box-shadow: 3mm;
      border-width: 0.2mm;
      box-shadow: 0 2px 8px 0 rgba(241, 237, 237, 0.897), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  */
    }
     
   
  
  .p-popuprow1.nav-link{
    font-size: 4mm;
    font-weight: lighter;
    text-align: center;
    color: rgb(12, 11, 11);
    
    height: 5mm;
    /* background-color:aqua ; */
    
  }

  .p-popuprow2.nav-link{
    font-size: 4mm;
    font-weight: lighter;
    text-align: center;
    color: rgb(12, 11, 11);
    
    height: 5mm;
    /* background-color:aqua ; */
    padding-top: 8mm;
  }

  .p-popuprow3.nav-link{
    font-size: 4mm;
    font-weight: lighter;
    text-align: center;
    color: rgb(12, 11, 11);
    
    height: 5mm;
    /* background-color:aqua ; */
    padding-top: 10mm;
    margin-left: -35mm;
    text-underline-position: below;
  }
  
  .p-popuprow2{
    font-size: 5mm;
  }
  
  .p-popuprow3{
    font-size: 5mm;
    height: 2mm; 
    padding-top: 70mm;
    width: 100mm;
    padding-left: 55mm;
  }
  
  .p-popupbtn{
    background-color: hsl(280, 30%, 96%);
    border-radius: 3mm;
    font-weight: normal;
    cursor: pointer;
    width: 35mm;
    height: 12mm;
    border-radius: 3mm;
    border-width: 0.5mm;
    border-color: rgb(156, 29, 150);
    cursor: pointer;
    font-size: 4mm;
    color: rgb(6, 7, 7);
    
  }

  .p-btn3{
    width: 10mm;
    height: 10mm;
    border-radius: 5mm;
    margin-left: 5mm;
    border-width: 0mm;
  }
  .para{
    color: black;
    font-size: 4mm;
    font-weight: normal;
  }
   
  