
  /* .media{
    background-color: crimson;
  }  */

  /* .test{
    background-color: blue;
    border-radius: 10px;
    border: 0px;
    border-color: tomato;
    border-style: solid;
    transition: 200ms;
    
  }   */

  .action{
    background-color: chartreuse;
    border-radius: 5px;
    border: 0px;
    border-color: tomato;
    border-style: solid;
    transition: 200ms;
  }

  /* .grr{
      background-color: rgb(62, 226, 226);
      margin-left: 9mm;

  } */

  /* .kkk{
      background-color: darkgreen;
  }
 .MuiPaper-root-MuiCard-root-name-MuiPaper-elevation1-MuiPaper-rounded {
    width: 0mm;
 } */

  

   .name {
    background-color: rgb(173, 206, 7);
    color: #272727;
    padding: 20px;
    /* border-radius: 10px; */
    border: 0px;
    border-color: tomato;
    border-style: solid;
    transition: 200ms;
      max-width: 200px;
    background-attachment: fixed;

  }

  .cardGrid{
    padding-top: 20px;
    padding-bottom: 9px;
    /* background-color: cyan; */
    width: 800px;
   
  }


  .CardContent{
    flex-grow: 1;
    color: black;
    /* background-color: darkblue; */
  }
  .fragment{
    padding-left: 10px;
    background-color: crimson;
  }

  .card{
    height: '100%';
    display: 'flex';
    flex-direction: 'column';
    padding-right: 8mm;
    padding-top: 5mm;
    
    
  }
  
  .content{
    background-color: rgb(236, 174, 236);
    /* border-radius: 5px; */
    border: 0px;
    border-color: tomato;
    border-style: solid;
    transition: 200ms;
  }
  