
  .action{
    background-color: chartreuse;
    border-radius: 5px;
    border: 0px;
    border-color: tomato;
    border-style: solid;
    transition: 200ms;
    height: 5mm;
  }

   .name {
    background-color: rgb(173, 206, 7);
    color: #272727;
    padding: 20px;
    /* border-radius: 10px; */
    border: 0px;
    border-color: tomato;
    border-style: solid;
    transition: 200ms;
      max-width: 200px;
    background-attachment: fixed;

  }

  .cardGrid{
    padding-top: 50px;
    background-size: auto;
    height:fit-content;
   
  }


  .CardContent{
    flex-grow: 1;
    color: black;
  }
  .fragment{
    padding-left: 10px;
    background-color: crimson;
  }

  .card{
    height: '100%';
    display: 'flex';
    flex-direction: 'column';
    padding-right: 8mm;
    padding-top: 5mm;
    
    
  }
  
  .content{
    background-color: rgb(236, 174, 236);
    border: 0px;
    border-color: tomato;
    border-style: solid;
    transition: 200ms;
  }

  
  