
.grid1 {
    background-image:
    linear-gradient(to top, rgba(10, 10, 10, 0.75), rgba(0, 0, 0, 0.25)),
    url("../assets/blouse.jpg");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /* min-height: 80mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    transition: 200ms;
    text-align: center;
    font-size: 10mm;
    color: white;
    width: 60mm; */
    height: 90mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    text-align: center;
    margin-left: 7mm;
    font-size: 10mm;
    color: white;
    width: 30mm;
    box-shadow: 3mm;
    border-width: 0.2mm;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.kkk{
    grid-column-gap: 20px;
    padding-top: 5mm;
    padding-left: 5mm;
    /* background-image: linear-gradient(to right, rgb(36, 34, 34) , rgb(94, 226, 215)); */
}
.grid1:hover{
    transition: 200ms;
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;
}
.grid2 {
    background-image:
    linear-gradient(to top, rgba(12, 14, 13, 0.75), rgba(0, 0, 0, 0.25)),
    url("../assets/saree.jpg");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    height: 90mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    text-align: center;
    margin-left: 7mm;
    font-size: 10mm;
    color: white;
    width: 30mm;
    box-shadow: 3mm;
    border-width: 0.2mm;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.grid3 {
    background-image:
    linear-gradient(to top, rgba(12, 14, 13, 0.75), rgba(0, 0, 0, 0.25)),
    url("../assets/gawon.jpg");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    height: 90mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    text-align: center;
    margin-left: 7mm;
    font-size: 10mm;
    color: white;
    width: 30mm;
    box-shadow: 3mm;
    border-width: 0.2mm;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}
.grid4{
    background-image:
    linear-gradient(to top, rgba(12, 14, 13, 0.75), rgba(0, 0, 0, 0.25)),
    url("../assets/skirt.jpg");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    height: 90mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    text-align: center;
    margin-left: 7mm;
    font-size: 10mm;
    color: white;
    width: 30mm;
    box-shadow: 3mm;
    border-width: 0.2mm;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.grid5{
    background-image:
    linear-gradient(to top, rgba(12, 14, 13, 0.75), rgba(0, 0, 0, 0.25)),
    url("../assets/office.jpg");
   
    height: 90mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    text-align: center;
    margin-left: 7mm;
    font-size: 10mm;
    color: white;
    width: 30mm;
    box-shadow: 3mm;
    border-width: 0.2mm;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.grid6{
    background-image:
    linear-gradient(to top, rgba(12, 14, 13, 0.75), rgba(0, 0, 0, 0.25)),
    url("../assets/denim.jpg");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

   
    height: 90mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    text-align: center;
    margin-left: 7mm;
    font-size: 10mm;
    color: white;
    width: 30mm;
    box-shadow: 3mm;
    border-width: 0.2mm;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid2:hover{
    transition: 200ms;
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;
}

.grid3:hover{
    transition: 200ms;
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;
}

.grid4:hover{
    transition: 200ms;
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;
}

.grid5:hover{
    transition: 200ms;
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;
    
}



.womencol1{
    background-image:
    /* linear-gradient(to top, rgba(10, 10, 10, 0.75), rgba(0, 0, 0, 0.25)), */
    url("../assets/women/image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 250mm;
    box-shadow: 3mm;
    border-width: 0.2mm;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.womencol2{
    font-size: 8mm;
    font-weight: lighter;
    
}

.womenrow1{
    width: 200mm;
    height: 90mm;
}

.womenrow2{
    width: 200mm;
    padding-top: 10mm;
    /* height: 90mm; */
    /* background-color: rgb(235, 78, 16); */
}
.womenrow3{
    width: 200mm;
    padding-top: 100mm;
    /* height: 90mm; */
 
}


/* ======================MEN.JS===================== */


.mengrid{
    grid-column-gap: 30px;
    padding-top:200mm;
    padding-left: 5mm;
    transition: 200ms;
    grid-column-end: 20mm;
    grid-row-gap: 5mm;
    background-color: rgba(206, 241, 206, 0.925);
    
}

.grid11 {
    background-image:
    linear-gradient(to top, rgba(10, 10, 10, 0.75), rgba(245, 241, 241, 0.068)),
    url("../assets/men/image2.jpg");
    height: 90mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    text-align: center;
    margin-left: 7mm;
    font-size: 10mm;
    color: white;
    width: 30mm;
    box-shadow: 3mm;
    border-width: 0.2mm;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.grid12 {
    background-image:
    linear-gradient(to top, rgba(10, 10, 10, 0.75), rgba(245, 241, 241, 0.068)),
    url("../assets/men/image3.jpeg");
    height: 90mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    text-align: center;
    font-size: 10mm;
    color: white;
    margin-left: 7mm;
    width: 40mm;
    box-shadow: 3mm;
    border-width: 0.2mm;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.grid13 {
    background-image:
    linear-gradient(to top, rgba(10, 10, 10, 0.75), rgba(245, 241, 241, 0.068)),
    url("../assets/men/image4.jpg");
    height: 90mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    text-align: center;
    margin-left: 7mm;
    font-size: 10mm;
    color: white;
    width: 40mm;
    box-shadow: 3mm;
    border-width: 0.2mm;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.grid14 {
    background-image:
    linear-gradient(to top, rgba(10, 10, 10, 0.75), rgba(245, 241, 241, 0.068)),
    url("../assets/men/image5.jpg");
    height: 90mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    margin-left: 7mm;
    text-align: center;
    font-size: 10mm;
    color: white;
    width: 40mm;
    box-shadow: 3mm;
    border-width: 0.2mm;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.grid11:hover{
    transition: 200ms;
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;
}

.grid12:hover{
    transition: 200ms;
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;
}

.grid13:hover{
    transition: 200ms;
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;
}

.grid14:hover{
    transition: 200ms;
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;
}

.grid15:hover{
    transition: 200ms;
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;
}

.grid16:hover{
    transition: 200ms;
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;
}

.font{
    color:aliceblue ;
    text-align: center;
    font-size: 8mm;
    
}

.womengrid{ 
    /* background-color: rgb(100, 155, 152); */
    height: 100mm;
    background-size: cover;
    color: rgb(7, 6, 6);
    text-align: center;
    font-size: 10mm; 
    /* background-color: aquamarine;  */
}

.mencol1{
    background-image:
    /* linear-gradient(to top, rgba(10, 10, 10, 0.75), rgba(0, 0, 0, 0.25)), */
    url("../assets/men/image10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 250mm;
    box-shadow: 3mm;
    border-width: 0.2mm;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.mencol2{
    font-size: 8mm;
    font-weight: lighter;
    
}

.menrow1{
    width: 200mm;
    height: 90mm;
    /* padding-top: 10mm; */
}

.menrow2{
    /* padding: 200px; */
    width: 200mm;
    padding-top: 10mm;
    height: 90mm;
}

.footer{
    margin-top: 5mm;
    color: aliceblue;
    padding: 10px 0px 5px 0px;
    background-color: rgb(61, 122, 192);

}

.footermen{
    margin-top: 250mm;
    color: aliceblue;
    padding: 10px 0px 5px 0px;
    background-color: rgb(61, 122, 192);
    text-align: center;

}

.footerwomen{
    margin-top: 330mm;
    color: aliceblue;
    padding: 10px 0px 5px 0px;
    background-color: rgb(61, 122, 192);
    text-align: center;

}

.findmore{
    font-size: 5mm;
    padding-top: 100mm;
    color: aliceblue;
}

 
 



 

 