
.grid1 {
    background-image:
    /* linear-gradient(to top, rgba(10, 10, 10, 0.75), rgba(0, 0, 0, 0.25)), */
    url("../assets/blouse.jpg");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    min-height: 80mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    transition: 200ms;
    /* border-radius: 10px; */
	/* border: 5px; */
	/* border-color: rgb(109, 235, 197); */
	/* border-style: solid; */
    text-align: center;
    font-size: 10mm;
    color: white;
    width: 60mm;
}

.kkk{
    grid-column-gap: 20px;
    padding-top: 5mm;
    padding-left: 5mm;
    /* background-image: linear-gradient(to right, rgb(36, 34, 34) , rgb(94, 226, 215)); */
}
.grid1:hover{
    transition: 200ms;
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;
}
.grid2 {
    background-image:
    /* linear-gradient(to top, rgba(12, 14, 13, 0.75), rgba(0, 0, 0, 0.25)), */
    url("../assets/saree.jpg");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    min-height: 180mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    transition: 200ms;
    /* border-radius: 10px;
	border: 5px;
	border-color: rgb(109, 235, 197);
	border-style: solid; */
    width: 60mm;
    text-align: center;
    font-size: 10mm;
    color: white;
    
}

.grid3 {
    background-image:
    /* linear-gradient(to top, rgba(12, 14, 13, 0.75), rgba(0, 0, 0, 0.25)), */
    url("../assets/gawon.jpg");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    min-height: 180mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    transition: 200ms;
    /* border-radius: 10px;
	border: 5px;
	border-color: rgb(109, 235, 197);
	border-style: solid; */
    width: 60mm;
    text-align: center;
    font-size: 10mm;
    color: white;
   
}
.grid4{
    background-image:
    /* linear-gradient(to top, rgba(12, 14, 13, 0.75), rgba(0, 0, 0, 0.25)), */
    url("../assets/skirt.jpg");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    min-height: 180mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    transition: 200ms;
    /* border-radius: 10px;
	border: 5px;
	border-color: rgb(109, 235, 197);
	border-style: solid; */
    width: 60mm;
    text-align: center;
    font-size: 10mm;
    color: white;
}


.grid5{
    background-image:
    /* linear-gradient(to top, rgba(12, 14, 13, 0.75), rgba(0, 0, 0, 0.25)), */
    url("../assets/office.jpg");
    min-height: 180mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    transition: 200ms;
    /* border-radius: 10px;
	border: 5px;
	border-color: rgb(109, 235, 197);
	border-style: solid; */
    text-align: center;
    font-size: 10mm;
    color: white;
    width: 60mm;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.grid6{
    background-image:
    /* linear-gradient(to top, rgba(12, 14, 13, 0.75), rgba(0, 0, 0, 0.25)), */
    url("../assets/denim.jpg");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    min-height: 180mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    transition: 200ms;
    /* border-radius: 10px;
	border: 5px;
	border-color: rgb(109, 235, 197);
	border-style: solid; */
    width: 60mm;
    text-align: center;
    font-size: 10mm;
    color: white;
}

.grid2:hover{
    transition: 200ms;
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;
}

.grid3:hover{
    transition: 200ms;
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;
}

.grid4:hover{
    transition: 200ms;
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;
}

.grid5:hover{
    transition: 200ms;
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;
    
}


/* ======================MEN.JS===================== */


.mengrid{
    grid-column-gap: 30px;
    padding-top: 5mm;
    padding-left: 5mm;
    transition: 200ms;
    grid-column-end: 20mm;
    grid-row-gap: 5mm;
}

.grid11 {
    background-image:
    linear-gradient(to top, rgba(10, 10, 10, 0.75), rgba(0, 0, 0, 0.25)),
    url("../assets/blouse.jpg");
    height: 90mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    text-align: center;
    font-size: 10mm;
    color: white;
    width: 90mm;
}

.grid12 {
    background-image:
    linear-gradient(to top, rgba(10, 10, 10, 0.75), rgba(0, 0, 0, 0.25)),
    url("../assets/saree.jpg");
    height: 90mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    text-align: center;
    font-size: 10mm;
    color: white;
    width: 90mm;
}

.grid13 {
    background-image:
    linear-gradient(to top, rgba(10, 10, 10, 0.75), rgba(0, 0, 0, 0.25)),
    url("../assets/saree.jpg");
    height: 90mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    text-align: center;
    font-size: 10mm;
    color: white;
    width: 90mm;
}

.grid14 {
    background-image:
    linear-gradient(to top, rgba(10, 10, 10, 0.75), rgba(0, 0, 0, 0.25)),
    url("../assets/saree.jpg");
    height: 90mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    text-align: center;
    font-size: 10mm;
    color: white;
    width: 90mm;
}

.grid15 {
    background-image:
    linear-gradient(to top, rgba(10, 10, 10, 0.75), rgba(0, 0, 0, 0.25)),
    url("../assets/saree.jpg");
    height: 90mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    text-align: center;
    font-size: 10mm;
    color: white;
    width: 90mm;
}

.grid16 {
    background-image:
    linear-gradient(to top, rgba(10, 10, 10, 0.75), rgba(0, 0, 0, 0.25)),
    url("../assets/saree.jpg");
    height: 90mm;
    background-size: cover;
    animation: normal;
    cursor: pointer;
    outline-width: 10mm;
    text-align: center;
    font-size: 10mm;
    color: white;
    width: 90mm;
}

.grid11:hover{
    transition: 200ms;
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;
}

.grid12:hover{
    transition: 200ms;
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;
}

.grid13:hover{
    transition: 200ms;
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;
}

.grid14:hover{
    transition: 200ms;
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;
}

.grid15:hover{
    transition: 200ms;
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;
}

.grid16:hover{
    transition: 200ms;
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;
}

.font{
    color:aliceblue ;
    text-align: center;
    font-size: 8mm;
    
}

.womengrid{ 
    /* background-color: rgb(100, 155, 152); */
    height: 100mm;
    background-size: cover;
    color: rgb(7, 6, 6);
    text-align: center;
    font-size: 10mm; 
    /* background-color: aquamarine;  */
}
 
 



 

 