
.os2{
    column-gap: 10mm;
}

.os3{
    column-gap: 10mm;
    margin-left: 50mm;
}
.os21{
    width: 80mm;
    margin-left: 10mm;
    margin-top: 10mm;
    height: 150mm;
    /* border-style: solid; */
    box-shadow: blueviolet;
    box-shadow: 3mm;
    border-width: 0.2mm;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border-radius: 2mm; */
    /* border-color: rgb(38, 145, 172); */
}


.os11{
    background-color: rgb(143, 177, 216);
    width: 146mm;
    height: 90mm;
    background-image:
    /* linear-gradient(to top, rgba(12, 14, 13, 0.75), rgba(184, 8, 8, 0.25)), */
    url("../Our\ Services/assests/c4.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.os12{
    width: 400mm;
    height: 130mm;    
    background-image:
    /* linear-gradient(to top, rgba(12, 14, 13, 0.75), rgba(0, 0, 0, 0.25)), */
    url("../Our\ Services/assests/c9.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    color: white;
    text-align: center;
 
    
}

.os11div1{
    background-color: chartreuse;
    /* width: 50mm; */
}

.cardheader1{
    background-image:
    /* linear-gradient(to top, rgba(48, 43, 43, 0.363),rgba(12, 14, 13, 0.75)), */
    url("../Our\ Services/assests/c1.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 70mm;
    font-size: 8mm;
    text-align: center;
    color: lemonchiffon;
}

.cardheader2{
    background-image:
    /* linear-gradient(to top, rgba(48, 43, 43, 0.363),rgba(12, 14, 13, 0.75)), */
    url("../Our\ Services/assests/c2.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 70mm;
    font-size: 8mm;
    text-align: center;
    color: lemonchiffon;
}

.cardheader3{
    background-image:
    /* linear-gradient(to top, rgba(48, 43, 43, 0.363),rgba(12, 14, 13, 0.75)), */
    url("../Our\ Services/assests/c3.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 70mm;
    font-size: 8mm;
    text-align: center;
    color: lemonchiffon;
}

.cardheader4{
    background-image:
    /* linear-gradient(to top, rgba(48, 43, 43, 0.363),rgba(12, 14, 13, 0.75)), */
    url("../Our\ Services/assests/fabric.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 70mm;
    font-size: 8mm;
    text-align: center;
    color: lemonchiffon;
}

.cardheader5{
    background-image:
    /* linear-gradient(to top, rgba(48, 43, 43, 0.363),rgba(12, 14, 13, 0.75)), */
    url("../Our\ Services/assests/shoe.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 70mm;
    font-size: 8mm;
    text-align: center;
    color: lemonchiffon;
}

.cardheader6{
    background-image:
    /* linear-gradient(to top, rgba(48, 43, 43, 0.363),rgba(12, 14, 13, 0.75)), */
    url("../Our\ Services/assests/c5.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 70mm;
    font-size: 8mm;
    text-align: center;
    color: lemonchiffon;
}

.cardheader7{
    background-image:
    /* linear-gradient(to top, rgba(48, 43, 43, 0.363),rgba(12, 14, 13, 0.75)), */
    url("../Our\ Services/assests/c8.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 70mm;
    font-size: 8mm;
    text-align: center;
    color: lemonchiffon;
}


.cardtopic{
    font-size: 7mm;
    text-align: center;
    color: rgb(14, 129, 223);
}

.h1{
    margin-top: 50mm;
}

.para{
    text-align: center;
    /* color: aqua; */
    font-size: 20mm;
}

.footer{
    background-color: aqua;
}

.copyright2{
    color: aliceblue;
    padding: 10px 0px 5px 0px;
    background-color: rgb(61, 122, 192);
}

 
 