.grid{
    grid-column-gap: 20px;
    padding-top: 5mm;
    padding-left: 5mm;
    transition: 200ms;
    grid-column-end: 20mm;
    grid-row-gap: 5mm;
    
    /* background-image:
    linear-gradient(to top, rgba(16, 141, 68, 0.75), rgba(23, 119, 71, 0.25)); */
}

.gridcomponent{ 
    height: 60mm;
    background-size: cover;
    outline-width: 10mm;
    text-align: center;
    font-size: 10mm;
     width: 60mm;
     box-shadow: 3mm;
     border-width: 0.2mm;
     box-shadow: 0 4px 8px 0 rgba(252, 9, 9, 0.897), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card1{ 
    height: 70.8mm;
    background-size: cover;
    /* cursor: pointer; */
    outline-width: 10mm;
    text-align: center;
    font-size: 10mm;
     width: 60mm;
    
  
}
.cv{
    font-size: 4mm;
}

.content1{
    height: 45mm;
    /* background-size: 50px; */
    
    /* background-image:
    linear-gradient(to top, rgba(12, 14, 13, 0.75), rgba(0, 0, 0, 0.25)),
    url("../assets/saree.jpg"); */
    /* background-image: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RDUxRjY0ODgyQTkxMTFFMjk0RkU5NjI5MEVDQTI2QzUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RDUxRjY0ODkyQTkxMTFFMjk0RkU5NjI5MEVDQTI2QzUiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpENTFGNjQ4NjJBOTExMUUyOTRGRTk2MjkwRUNBMjZDNSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpENTFGNjQ4NzJBOTExMUUyOTRGRTk2MjkwRUNBMjZDNSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuT868wAAABESURBVHja7M4xEQAwDAOxuPw5uwi6ZeigB/CntJ2lkmytznwZFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYW1qsrwABYuwNkimqm3gAAAABJRU5ErkJggg==");
     */

}
 
.gridcomponent:hover{
    border: 3px;
    border-color: rgb(245, 242, 242);
    border-style: solid;   
}

.action1{ 
    transition: 200ms;
    height:1mm;
  }

   .name {
    background-color: rgb(19, 43, 121);
    color: #272727;
    padding: 20px;
    border: 0px;
    border-color: tomato;
    border-style: solid;
    transition: 200ms;
    max-width: 200px;
    background-attachment: fixed;
  }

  .btn{
      margin-top: 30mm;
  }

  .class1{
    font-size: 5mm;
    margin-top: 0mm;
    margin-bottom: 0mm;
    height: 4mm;
}
 
.divnav{
    color: black;
    font-weight: lighter;
    height: 12mm;
    text-align: left;
    font-size: 8mm;
    margin-top: 5mm;  
}

 