.Authentication {
    margin: 20px auto;
    width: 50%;
    /* height:fit-content; */
    text-align: center;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    background-color: currentColor;
    opacity: 0.5;
}

.c1 {
    
    background-image: url("../../assets/f2.jpg");
    padding: 150px;
    background-size: 500px;

}

.lll{
    object-fit: contain;

}
.mb-3{
    background-color:currentColor;
     padding: 10px;  
     height: 300px;
     width: 150mm auto;
    background-size: 0px;

}

input {
    width: 80%;
    height: 7mm;
    position: initial;
    margin-top: 50px;
    background-color: rgb(238, 230, 230);
    border-radius: 4mm;
    padding: 4px;
  }
button{
    margin-top: 50px;
    padding: 10px;
    border-radius: 4mm;
    width: 50mm;
    background-color: white;
    font-family: cursive;
    font-weight: 700;
}
::placeholder{
    color: rgb(15, 4, 4);
    font-family: cursive;
    text-align: center;
}


@media (min-width: 600px) {
    .Auth {
        width: 800px;
        height : 500px;
    }
}
