.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
 
/* .nav{
  color: #e2e6e7;
  background-color: rgb(50, 44, 51);
  padding: 20px;
  height: 15px;
  width: auto;
  font-size: 0.5cm;
  column-gap: 100mm;
  
} */
 .nav1{
  background-color: rgb(50, 44, 51);
   height:25mm;
   /* margin-top: -15mm; */
   font-size: large;
 }
.navitem{
  margin-left:30px;
  margin-right:30px;
  color: #e2e6e7;
  margin-top: -5mm;
}

.navdiv{
  background-color: rgb(126, 233, 233);
  width: 35mm;
  /* border: 4mm; */
  /* border-width: 15mm;
  border-color: chartreuse; */
  /* height: 7mm; */
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
 

 