.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
 
 .nav1{
  background-color: rgb(50, 44, 51);
   height:15mm;
   width: 190mm;
   font-size: large;
    
 }

 .div{
  background-color: rgb(50, 44, 51);
 }
.navitem{
 
  margin-left: 00mm;
  margin-right: 5mm;
}

.navitem2{
  color: #e2e6e7;
  margin-left: 00mm;
  margin-right: 5mm;
  width: 2mm;
}

.navdiv{
  background-color: rgb(126, 233, 233);
  width: 35mm;
  height: 10mm;
  border-radius: 3mm;
  border-width: 1mm;
  border-color: rgb(231, 240, 240);
  cursor: pointer;
  font-size: 3mm;
  color: rgb(56, 100, 94);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
 .bb{
   background-color: lightcoral;
 }

 