.footer-Home{
    background-color: #310c1c;
    background-attachment: fixed;
    position: relative;
    line-height: 30px;
    height: 150px;
    margin-top: 90mm;
}

.footer-topic{
    color: aliceblue;
    font-size: 20px;
}

.footer-row{
    padding-top: 15px;
}

.footer-des{
    color: aliceblue;
    font-size: 15px;
    text-align: left;
}

.link{
    color: aliceblue;
    padding-left: 8px;
}

.copyright{
    background-color: #310c1c;
    color: rgb(246, 246, 250);
    padding: 10px 0px 5px 0px;
    text-align: center;
    padding-top: 5mm;
    /* background-color: aqua; */
    padding-top: 90px;
    /* height: 35mm; */
}

.heart {
    color: #EB5E28;
    animation: heathing 2s ease infinite;

}